<html>
<head>
<title>mp3list</title>
</head>

<BODY BGCOLOR="#3399FF" TEXT="#000000" LINK="#0000FF" VLINK="#0000FF" ALINK="#0000FF" LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">
<font size=2 class="subb"> </font> <font size=2 class="subb">Letztes update : 
{#general:update_date}</font> 
<h3>{#mp3list:total_mpg_counter} Titel<!-- Begin : Table 5 --> </h3>
<div align="left">{#mp3list:result_list} <!-- End   : Table 5 --> <br>
</div>
<center>
  Searchtime : {#mp3list:searchtime}<br>
  <B>Created with <a href="http://www.rakekniven.de">Mp3Toolbox V{#general:version}</a>.<br>
  Copyright reversed. Print what you like.</B> 
</center>
</body>
</html>
