// created with Manifest-Creator

#define VS_MANIFEST          1
#define RT_MANIFEST          24
#define LANG_NEUTRAL         0x00
#define SUBLANG_NEUTRAL      0x00

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

MAINICON ICON
  BEGIN
    65536L, 538968065L, 16L, 48758784L, 1441792L, 2621440L, 2097152L, 4194304L, 65536L, 4L, 41943040L, 0L, 0L, 0L, 0L, 0L, 0L, -2147483520L, -2147483648L, 8388736L, 8388608L, -2139094912L, -1061158912L, -2139094848L, 128L, -16776961L, -16777216L, 16711935L, 16711680L, -65281L, -65536L, 255L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, -65536L, -1L, -32769L, -16793793L, -33562689L, -2080378949L, -1140854851L, -1140854850L, -1140854858L, -1140854858L, -1140854858L, -2080378946L, -33558595L, -16781381L, -8257L, -16577L, -32769L,
    -1L, -605028353L, -605089794L, -605030403L, -605030401L, -605030401L, -655362049L, -605057249L, -605227025L, 1542191087L, -1679296529L, -655362067L, -61666L, -1L, -1L, 65535
  END

VS_MANIFEST RT_MANIFEST
  BEGIN
    "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\r\n",
    "<assembly xmlns=\"urn:schemas-microsoft-com:asm.v1\" manifestVersion=\"1.0\">\r\n",
    "  <assemblyIdentity\r\n",
    "    version=\"0.0.0.0\"\r\n",
    "    processorArchitecture=\"X86\"\r\n",
    "    name=\"rakekniven.music.toolbox\"\r\n",
    "    type=\"Win32\"/>\r\n",
    "  <trustInfo xmlns=\"urn:schemas-microsoft-com:asm.v2\">\r\n",
    "    <security>\r\n",
    "      <requestedPrivileges>\r\n",
    "        <requestedExecutionLevel\r\n",
    "          level=\"asInvoker\"\r\n",
    "          uiAccess=\"false\"/>\r\n",
    "      </requestedPrivileges>\r\n",
    "    </security>\r\n",
    "  </trustInfo>\r\n",
    "  <compatibility xmlns=\"urn:schemas-microsoft-com:compatibility.v1\">\r\n",
    "    <application>\r\n",
    "      <supportedOS Id=\"{35138b9a-5d96-4fbd-8e2d-a2440225f93a}\"/>\r\n",
    "      <supportedOS Id=\"{4a2f28e3-53b9-4441-ba9c-d69d4a4a6e38}\"/>\r\n",
    "      <supportedOS Id=\"{1f676c76-80e1-4239-95bb-83d0f6d0da78}\"/>\r\n",
    "      <supportedOS Id=\"{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}\"/>\r\n",
    "    </application>\r\n",
    "  </compatibility>\r\n",
    "  <dependency>\r\n",
    "    <dependentAssembly>\r\n",
    "      <assemblyIdentity\r\n",
    "        type=\"win32\"\r\n",
    "        name=\"Microsoft.Windows.Common-Controls\"\r\n",
    "        version=\"6.0.0.0\"\r\n",
    "        publicKeyToken=\"6595b64144ccf1df\"\r\n",
    "        language=\"*\"\r\n",
    "        processorArchitecture=\"*\"/>\r\n",
    "    </dependentAssembly>\r\n",
    "  </dependency>\r\n",
    "</assembly>"
  END
