<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>mp3list</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<style type='text/css'>
BODY {color: #d0ffd0; background: #333333;
          font-family: Sans Serif, sans-serif;
          font-size: 14pt; margin: 8%; }
H1       {color: #d0ffd0;}
TABLE    {text-align: center; margin-left: auto; margin-right: auto;}
TD       { color: #d0ffd0; padding: 1em}
IMG      { border: 1px solid #d0ffd0; }
</style>
</head>
<body>
<h1>All MP3s sorted by first letter of artist</h1>

<p style="background-color:#DEDEDF;padding:5px;">
<a href="mp3listA.html">A</a>&nbsp;|&nbsp;
<a href="mp3listB.html">B</a>&nbsp;|&nbsp;
<a href="mp3listC.html">C</a>&nbsp;|&nbsp;
<a href="mp3listD.html">D</a>&nbsp;|&nbsp;
<a href="mp3listE.html">E</a>&nbsp;|&nbsp;
<a href="mp3listF.html">F</a>&nbsp;|&nbsp;
<a href="mp3listG.html">G</a>&nbsp;|&nbsp;
<a href="mp3listH.html">H</a>&nbsp;|&nbsp;
<a href="mp3listI.html">I</a>&nbsp;|&nbsp;
<a href="mp3listJ.html">J</a>&nbsp;|&nbsp;
<a href="mp3listK.html">K</a>&nbsp;|&nbsp;
<a href="mp3listL.html">L</a>&nbsp;|&nbsp;
<a href="mp3listM.html">M</a>&nbsp;|&nbsp;
<a href="mp3listN.html">N</a>&nbsp;|&nbsp;
<a href="mp3listO.html">O</a>&nbsp;|&nbsp;
<a href="mp3listP.html">P</a>&nbsp;|&nbsp;
<a href="mp3listQ.html">Q</a>&nbsp;|&nbsp;
<a href="mp3listR.html">R</a>&nbsp;|&nbsp;
<a href="mp3listS.html">S</a>&nbsp;|&nbsp;
<a href="mp3listT.html">T</a>&nbsp;|&nbsp;
<a href="mp3listU.html">U</a>&nbsp;|&nbsp;
<a href="mp3listV.html">V</a>&nbsp;|&nbsp;
<a href="mp3listW.html">W</a>&nbsp;|&nbsp;
<a href="mp3listX.html">X</a>&nbsp;|&nbsp;
<a href="mp3listY.html">Y</a>&nbsp;|&nbsp;
<a href="mp3listZ.html">Z</a>&nbsp;|&nbsp;
<a href="mp3list0.html">0-9</a>
</p>
  
</div>
</body>
</html>
